[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-gitlab = "*"
requests = "*"
python-dateutil = "*"
pygitea = {git = "https://github.com/h44z/pygitea"}

[requires]
python_version = "3.8"
